.avatar {
    width: 4rem;
}
h5{
    color:#646470 !important;
    font-size:13px !important;
    font-weight: bold !important;
}
h6{
    color:#69686d !important;
    font-size:10px !important;
    font-weight:600  !important;
}
.joindics{
    font-weight: 500 !important;
    color:#9a9aa4 !important;
    font-size:9px !important;
}