<!-- display progress steps-->
<div class="row m-3 shadow">
  <div class="col bg-white">
    <p class="text-capitalize mt-4 mb-4">{{pageTitle}}</p>

    <!-- display progress circle -->
    <div class="row p-4">
      <!-- Stepper -->
     <!--  <div class="steps-form-2">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
          <div class="steps-step-2">
            <span class="btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Basic Information">
              <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </span>
          </div>
          <div class="steps-step-2">
            <span class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Personal Data">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
          </div>
          <div class="steps-step-2">
            <span class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Terms and Conditions">
              <i class="fa fa-photo" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div> -->
      <div class="stepwizard">
          <div class="stepwizard-row"> 
               <div class="stepwizard-step">
                   <button type="button" class="btn btn-default btn-circle active"><i class="fa" aria-hidden="true">&#xf041;</i></button>
                   <p class="confirmation">1. Client Information</p>
                   <p class="text-center cli_inform">Client information about client information</p>
               </div>
               <div class="stepwizard-step">
                   <button type="button" class="btn btn-default btn-circle"><i class="fa" aria-hidden="true">&#xf041;</i></button>
                   <p class="confirmation">Account Setup</p>
                   <p class="text-center cli_inform">Client information about client information</p>
               
                 </div>
               <div class="stepwizard-step">
                   <button type="button" class="btn btn-default btn-circle"><i class="fa">&#xf041;</i></button>
                   <p class="confirmation">Confirmation</p>
                   <p class="text-center cli_inform">Client information about client information</p>
                 
                 </div> 
           </div> 
       </div>
    </div>
  </div>
</div>