<div class="container-fluid">

    <div class="sub-header">
        <h4 class="h4_tag">Sales</h4>
    </div>
    <div class="row">
      <div class="col-md-8">
         
              <div class="card card-block card_listt">
                
                    <div class="card card-block card_listt">
                      <div class="row row_revenue">
                          <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6">
                                  <p class="total_revenue">Total Revenue<br><span class="to_date">To Date</span></p>
                                </div>
                                <div class="col-md-6">
                                  <p class="total_amnt">£28,523</p>
                                </div> 
                             </div>

                        </div>

                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6">
                                  <p class="total_revenue">Fees Paid<br><span class="to_date">To Date</span></p>
                                </div>
                                <div class="col-md-6">
                                  <p class="total_amnt">£18,523</p>
                                </div> 
                             </div>

                        </div>

                        </div>
                    </div>
              </div>

              
           
      </div>
      
      <div class="col-md-4">
          <div class="card card-block card_listt margin_right">
            <div class="row row_cardrevenue">
                <div class="col-md-6">
                    <p class="card_revenue">Card Revenue<br><span class="to_date">To Date</span></p>
                </div>
                 <div class="col-md-6">
                    <p class="money">276</p>
                </div>
            </div>
            
            <div class="progress pro_bar">
                <div class="progress-bar prog_bar"></div>
                
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <p class="progress_total">Total</p>
                  </div>
                  <div class="col-md-6">
                    <p class="percent">87%</p>
                  </div>
                </div>

          </div>
      </div>
    </div>
    <br>
    <!-- Second start here -->
    <div class="row">
        <div class="col-md-8">
           
                <div class="card card-block card_listt">
                  
                    <div class="card card-block card_listt">
                        <div class="row row_revenue">
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-6">
                                      <p class="total_revenue">Total Revenue<br><span class="to_date">To Date</span></p>
                                    </div>
                                    <div class="col-md-6">
                                      <p class="total_amnt">£28,523</p>
                                    </div> 
                                 </div>
    
                            </div>
    
                            <div class="col-md-6">
    
                                <div class="row">
                                    <div class="col-md-6">
                                      <p class="total_revenue">Fees Paid<br><span class="to_date">To Date</span></p>
                                    </div>
                                    <div class="col-md-6">
                                      <p class="total_amnt">£18,523</p>
                                    </div> 
                                 </div>
    
                            </div>
                          </div>
                    </div>
                   
                </div>

                
             
        </div>
       
        <div class="col-md-4">
            <div class="card card-block card_listt margin_right">
              <div class="row row_cardrevenue">
                  <div class="col-md-6">
                      <p class="fees_card">Card Revenue<br><span class="upto_date">To Date</span></p>
                  </div>
                   <div class="col-md-6">
                      <p class="money">276</p>
                  </div>
              </div>
              
              <div class="progress pro_bar">
                  <div class="progress-bar prog_bar"></div>
                  
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <p class="p_progress_total">Total</p>
                    </div>
                    <div class="col-md-6">
                      <p class="p_progress_percent">87%</p>
                    </div>
                  </div>

            </div>
        </div>
      </div>

    <!-- Ends here -->
    <br>
       
        <div class="row">
          <div class="col-md-12">

            <div class="card card-block card_list">
              <p class="p_tag">Enteries</p><hr>
              <div class="card card-block card_list">

                  <div class="row">
                      <div class="col-md-2 barber_item">Barber</div>
                      <div class="col-md-2 barber_all_items">Products</div>
                      <div class="col-md-2 barber_all_items">Cut Time</div>
                      <div class="col-md-2 barber_all_items">Payment</div>
                      <div class="col-md-1 barber_all_items">Time</div>
                      <div class="col-md-2 barber_all_items">Date</div>
                      <div class="col-md-1 barber_all_items">Total</div>                       
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <p class="p_entries_name"><img class="img_resp" src="assets/images/background.png"> Melenia Trump</p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">Dry Cut,Beard Trim</p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">14<span class="span_items">min</span></p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">Card</p>
                      </div>
                      <div class="col-md-1">
                        <p class="entries_list_names">4:25<span class="span_items">pm</span></p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">22/2/2018</p>
                      </div>
                      <div class="col-md-1">
                        <p class="entries_list_names">£67</p>
                      </div>
                    </div>
                    <!-- Second List -->
                    <div class="row">
                      <div class="col-md-2">
                        <p class="p_entries_name"><img class="img_resp" src="assets/images/background.png"> Melenia Trump</p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">Dry Cut,Beard Trim</p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">14<span class="span_items">min</span></p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">Card</p>
                      </div>
                      <div class="col-md-1">
                        <p class="entries_list_names">4:25<span class="span_items">pm</span></p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">22/2/2018</p>
                      </div>
                      <div class="col-md-1">
                        <p class="entries_list_names">£67</p>
                      </div>
                    </div>
                    <!-- Ends here -->

                    <!-- Third list -->
                    <div class="row">
                      <div class="col-md-2">
                        <p class="p_entries_name"><img class="img_resp" src="assets/images/background.png"> Melenia Trump</p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">Dry Cut,Beard Trim</p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">14<span class="span_items">min</span></p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">Card</p>
                      </div>
                      <div class="col-md-1">
                        <p class="entries_list_names">4:25<span class="span_items">pm</span></p>
                      </div>
                      <div class="col-md-2">
                        <p class="entries_list_names">22/2/2018</p>
                      </div>
                      <div class="col-md-1">
                        <p class="entries_list_names">£67</p>
                      </div>
                    </div>

                    <!-- Ends here -->
                    <nav aria-label="Page navigation example" style="text-align:left!important;margin-left: 20px;">
                      <ul class="pagination" style="border:0px;background:none;">
                       <!--  <li class=" disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a> 
                        </li> -->
                        <li ><a href="" class="rounded-circle" style="background:#6a61e9;color:#fff;font-size:9px;height: 24px;">1</a></li>
                        <li ><a class="page-link"  style="color:#cbdeff;font-size:9px;">2</a></li>
                        <li><a class="page-link"  style="color:#cbdeff;font-size:9px;">3</a></li>
                        <li><a class="page-link"  style="color:#cbdeff;font-size:9px;">4</a></li>
                        <li><a class="page-link" style="color:#cbdeff;font-size:9px;">5</a></li>
                        <li><a class="page-link" style="color:#cbdeff;font-size:9px;">6</a></li>
                       <!--  <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                        </li> -->
                      </ul>
                    </nav>
              </div>      
            </div>


          </div>
        </div>
       <br>
<!-- Payments history --> 

 <div class="row">
  <div class="col-md-12">

  
      <div class="card card-block card_list">
        <p class="p_tag">Payments History</p><hr>
          <div class="card card-block card_list">
              <div class="row padding_row">
                  <div class="col-md-3">
                    <p class="payment_list">#</p>
                  </div>
                <div class="col-md-3">
                    <p class="payment_list">Total</p>
                </div>
                <div class="col-md-3">
                    <p class="payment_list">Date</p>
                </div>
                <div class="col-md-3">
                    <p class="payment_list">View</p>
                </div>
              </div>
          <div class="row row_padding_list">
              <div class="col-md-3">
                <p class="payment_col_list">13542</p>
              </div>
              <div class="col-md-3">
                  <p class="payments_col_lists">£22.50</p>

              </div>
              <div class="col-md-3">
                  <p class="payments_col_lists">22/02/2018</p>

              </div>
              <div class="col-md-3">
                  <p class="payments_col_lists">Link</p>

              </div>
          </div>
          <div class="row row_padding_list">
              <div class="col-md-3">
                  <p class="payment_col_list">13542</p>
                  
              </div>
              <div class="col-md-3">
                  <p class="payments_col_lists">£22.50</p>

              </div>
              <div class="col-md-3">
                  <p class="payments_col_lists">22/02/2018</p>

              </div>
              <div class="col-md-3">
                  <p class="payments_col_lists">Link</p>

              </div>
              </div>

              <div class="row row_padding_list">
                  <div class="col-md-3">
                <p class="payment_col_list">13542</p>
               
                  </div>
                  <div class="col-md-3">
                      <p class="payments_col_lists">£22.50</p>

                  </div>
                  <div class="col-md-3">
                      <p class="payments_col_lists">22/02/2018</p>

                  </div>
                  <div class="col-md-3">
                      <p class="payments_col_lists">Link</p>

                  </div>
                  </div>

                  <div class="row row_padding_list">
                      <div class="col-md-3">
                <p class="payment_col_list">13542</p>
                
                      </div>
                      <div class="col-md-3">
                          <p class="payments_col_lists">£22.50</p>
        
                      </div>
                      <div class="col-md-3">
                          <p class="payments_col_lists">22/02/2018</p>
        
                      </div>
                      <div class="col-md-3">
                          <p class="payments_col_lists">Link</p>
        
                      </div>
                      </div>
                      <nav aria-label="Page navigation example" style="text-align:left!important;margin-left: 20px;">
                          <ul class="pagination" style="border:0px;background:none;">
                          <!--  <li class=" disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a> 
                            </li> -->
                            <li ><a href="" class="rounded-circle" style="background:#6a61e9;color:#fff;font-size:9px;height: 24px;">1</a></li>
                            <li ><a class="page-link"  style="color:#cbdeff;font-size:9px;">2</a></li>
                            <li><a class="page-link"  style="color:#cbdeff;font-size:9px;">3</a></li>
                            <li><a class="page-link"  style="color:#cbdeff;font-size:9px;">4</a></li>
                            <li><a class="page-link" style="color:#cbdeff;font-size:9px;">5</a></li>
                            <li><a class="page-link" style="color:#cbdeff;font-size:9px;">6</a></li>
                          <!--  <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                            </li> -->
                          </ul>
                        </nav> 
        
      </div>  
      </div>
</div>

</div>
<br>
<!-- Ends here -->
    <!-- Payments start -->
          <div class="row">
            <div class="col-md-12">
              <div class="card card-block card_list">
                  <p class="p_tag">Change Payment Info</p><hr>
                    <div class="card card-block card_list">
                        <p class="payment_text_desc">To change your payment information,enter your new account number below.</p>
                        <form (submit)="Submitlogin(login_form)" class="bak form-horizontal" novalidate>
                              <div class="form-row input_padding">
                                    <div class="form-group required col-md-12">
                                    <label for="amount" class="col_pss col-form-label col-form-label-sm">Account Number: <span class="aster"> *</span></label> 
              
                                    <input type="text" formControlName="cnumber" name="din" appNumberOnly class="form-control input_box" maxlength="19">
              
                                    </div>
                                  <hr>
                              </div>
                        </form> 

                    </div>    
                </div>
              </div>        
          </div>   
          <br> 
    <!-- Ends here -->
      
      <!-- Entries ends here -->

</div>