<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Successful</title>
</head>
<style>
body {
  min-height: 100vh !important;
  width: 100%;
}
  img {
    height:80px;
    width:80px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .logo {
    padding: 30px;
    font-weight: 800;
    font-size: 50px;
  }
</style>
<body>
  <h1 class="logo">Shokuni</h1>
    <img src="../../../../assets/images/tick-mark-icon.svg" alt="tick"> <br><br>
    <h1 class="text-center text-success">Payment Successful</h1> <br> <br>
    <h3 class="text-center">Thank you!</h3>    
</body>
</html>