p{
    color:#575a63;
    font-size:11px;
    font-weight:bold;
}
.p_text{
    color: #4c4b51;
    font-size:9px;
    font-weight:600;
}
label{
    font-size:10px;
    font-weight:bold;
    color:#78797c;
}