.h5{
    color:#7e838c !important;
    font-weight:600 !important;
    font-size:13px !important;
}
label{
    font-size:8px !important;
    font-weight:500 !important;
    color:#6e6f74 !important;
}
.form-control {
    font-size:11px !important;
}
small{
    color:#b8babf !important;
    font-size:9px !important;
}
.btn{
    font-size:10px !important;
}